.login-page {
  text-align: center;
}
.address-page{
  text-align: center;
  margin-top: 10%;
}
.address-entry{
  display: flex;
  align-items: 'center';
  flex-wrap: 'wrap',
}
.add-contact-page{
  text-align: center;
  margin-top: 10%;  
}
.add-contact-title {
  margin-bottom: 20px;
}